@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF Pro Italic';

  src: url('@/assets/fonts/SFPRODISPLAYBLACKITALIC.OTF');

  font-weight: 400;

  font-style: normal
}

@font-face {
  font-family: 'SF Pro Bold';

  src: url('@/assets/fonts/SFPRODISPLAYBOLD.OTF');

  font-weight: 700;

  font-style: normal
}

@font-face {
  font-family: 'SF Pro Heavy Italic';

  src: url('@/assets/fonts/SFPRODISPLAYHEAVYITALIC.OTF');

  font-weight: 900;

  font-style: normal
}

@font-face {
  font-family: 'SF Pro Light Italic';

  src: url('@/assets/fonts/SFPRODISPLAYLIGHTITALIC.OTF');

  font-weight: 300;

  font-style: normal
}

@font-face {
  font-family: 'SF Pro Medium';

  src: url('@/assets/fonts/SFPRODISPLAYMEDIUM.OTF');

  font-weight: 500;

  font-style: normal
}

@font-face {
  font-family: 'SF Pro Regular';

  src: url('@/assets/fonts/SFPRODISPLAYREGULAR.OTF');

  font-weight: 400;

  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Semibold Italic';

  src: url('@/assets/fonts/SFPRODISPLAYSEMIBOLDITALIC.OTF');

  font-weight: 600;

  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Thin Italic';

  src: url('@/assets/fonts/SFPRODISPLAYTHINITALIC.OTF');

  font-weight: 100;

  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Ultralight';

  src: url('@/assets/fonts/SFPRODISPLAYULTRALIGHTITALIC.OTF');

  font-weight: 300;

  font-style: normal;
}

